{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" style="background: #0c2882">
  <div class="contact-bar">
    <div class="col-sm-10 col-sm-offset-1" style="text-align: center; position: relative; top: 30px;">
      <div class="col-sm-4"> 
        <p> <i class="fa fa-facebook"> @bluestonehomeloans </i> </p>
      </div>
      <div class="col-sm-4"> 
          <p> <i class="fa fa-phone"> 703-472-3606 </i> </p>
      </div>
      <div class="col-sm-4"> 
          <p> <i class="fa fa-envelope"> matt@bluestonehomeloans.com </i> </p>
      </div>
    </div>
  </div>
    <div class="container">
        <div class="row">
          <h3 style="color: white; font-size: 32px; margin-left: 28px;" > Contact Us </h3> 
          <form name="contact" method="POST" netlify-honeypot="bot-field" netlify style="border-radius: 4px;">
            <div class="container" style="border-radius: 4px;"> 
              <p class="hidden">
                <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
              </p>
              <div class="col-sm-4">
                  <label style="display: block; color: white; ">
                      Name: 
                    <input type="text" name="name" class="form-control" required/>
                  </label>
              </div>
              <div class="col-sm-4">
                  <label style="display: block; color: white; ">
                      Email: 
                    <input type="email" name="email" class="form-control" required/>
                  </label>
              </div>
              <div class="col-sm-4">
                <label style="display: block; color: white; ">
                    Phone Number: 
                  <input type="tel" name="phone" class="form-control" required/>
                </label>
              </div>
              <div class="col-sm-12">
                <label style="display: block; color: white; ">
                  Message: 
                  <textarea name="message" class="form-control" rows="5" required> </textarea>
                </label>
              </div>
            </div>
              <div style="float: right; margin-right: 28px;">
                  <button type="submit" class="btn btn-default btn-lg">Submit</button>
              </div>
              
          </form>
    </div>
  </div>
</section>
