{{ "<!-- SERVICES -->" | safeHTML }}
<section id="why" class="why-section">
    {{ with .Site.Params.why.headline }}

        <div class="container" >
            <div class="row" style="text-align: center">
                <div class="col-md-4 display-why-section-picture" >
                    <img src="img/why/vertical-houses.png"
                        class="img-responsive"
                        alt="bluestone houses"
                        style="margin-left: auto; padding-right: -30px;" />
                </div>
                <div class="col-md-8" style="text-align: left">
                    <div class="why-text-block" style="margin: 4px; width: 80%;">
                    <h2 class="section-heading" style="color: white; text-align: left;">
                        Why Bluestone?
                    </h2>
                    <p class= "subtitles" >
                            At Bluestone Home Loans we put the customer first.
                    </br> </br>
                            We work with carefully selected wholesale lenders, uncovering the lowest
                            rates, best terms, and providing a portfolio of loan programs to meet the unique needs of every customer. We work very
                            hard to keep our costs down with allows us to offer our customers the best possible pricing. Low rates and less closing
                            costs matter tremendously, and choosing the right lender will save you thousands of dollars over the life of the loan.
                    </br> </br>
                            Buying a home is the largest and most complex financial transaction of most people's lives. We are committed to the
                            continued education of our customers. We want you to understand the mortgage process, your options, and to have a clear
                            timeline of the various steps. You should always expect clear, prompt, and accurate answers to any questions you have.
                            You deserve to have an expert in your corner who listens carefully to your goals and concerns, and then uses their
                            experience to make recommendations on the best course of action.
                    </br> </br>
                            We value your business and are committed to building a long-term relationship! Our business would not exist without repeat
                            customers and referrals. Thank you for considering Bluestone Home Loans for your mortgage needs.
                    <br />

                    <a href="/about"
                        class="btn btn-primary btn-xl"
                        style="margin-top: 20px; text-align: left; font-family: 'Nunito Sans', sans-serif; font-weight: 700; font-size: 10px; border-radius: 2px !important; background-color: #ffffff; color: #0c2882; margin-bottom: auto;">Learn More</a>
                    </p>
                    </div>
            </div>
        </div>
    </div>
    {{ end }}
</section>
